In [ ]:
import json
import os
import random
import sqlite3
import struct

import pandas as pd

## Files are just 0s and 1s

In [ ]:
# Create file 1 - ASCII http://www.asciitable.com/

f = open('file1.txt','w')
architectstring = 'Your life is the sum of a remainder of an unbalanced equation inherent to the programming of the matrix.\n'
f.write(architectstring)
f.close()

In [ ]:
# Inspect file 1

f = open('file1.txt')
contents = f.read()
print("ASCII text of file 1:")
print(contents)


print("String length of the original string: ", len(architectstring))

**Q1. How many bytes should the file contain?**

**Q2. What should the first 5 bytes of the file be?**

In [ ]:
# Answers

print(os.path.getsize('file1.txt'))

f = open('file1.txt', 'rb')
struct.unpack('BBBBB', f.read(5))

## There are many simple readable file formats

In [ ]:
# json: javascript object notation

data = {'name':'amy', 'dob':'1990/01/01', 'mean_abp':['60, 70, 70, 50']}

with open('file2.json', 'w') as f:  
    json.dump(data, f)

In [ ]:
f = open('file2.json')
f.read()

In [ ]:
# csv: comma separated values

df = pd.read_csv('data/PhysionetChallenge2012-set-a.csv')
df.head()

## Relational Databases

https://docs.python.org/3/library/sqlite3.html

Relational table-like structure

In [ ]:
# The data

# Employees
df_employees = pd.DataFrame([
    [1001, 'Erwin', '2001-01-01', 'ceo'],
    [1002, 'Annie', '2002-02-02', 'accountant'],
    [1003, 'Reiner', '2003-03-03', 'marketer'],
    [1004, 'Mikasa', '2004-04-04', 'engineer']],
    columns=['employee_id', 'name', 'hire_date', 'job_title'])

# Performance Reviews
df_reviews = pd.DataFrame([
    [8, 1002, 1001, '2005-12-01'],
    [7, 1003, 1001, '2005-12-01'],
    [9, 1004, 1001, '2005-12-01'],
    [7, 1002, 1001, '2006-12-01'],
    [9, 1003, 1001, '2006-12-01'],
    [10, 1004, 1001, '2006-12-01']],
    columns=['rating', 'employee_id', 'reviewer_id', 'review_date'])

# Bonuses
df_bonuses = pd.DataFrame([
    [10000, 1002, '2005-12-01'],
    [20000, 1004, '2005-12-01'],
    [20000, 1003, '2006-12-01'],
    [30000, 1004, '2006-12-01']],
    columns=['amount', 'employee_id', 'bonus_date'])

In [ ]:
display(df_employees)
display(df_reviews)
display(df_bonuses)

In [ ]:
# The connection object represents the database
# os.remove('staff.db')
conn = sqlite3.connect('staff.db')

c = conn.cursor()

# Create tables
c.execute('''CREATE TABLE employees
             (employee_id integer primary key, name text, hire_date date, job_title text);''')
c.execute('''CREATE TABLE reviews
             (rating, employee_id, reviewer_id, review_date);''')
c.execute('''CREATE TABLE bonuses
             ('amount', 'employee_id', 'bonus_date');''')

# Insert data
c.executemany("INSERT INTO employees VALUES (?, ?, ?, ?)", df_employees.values.tolist())
c.executemany("INSERT INTO reviews VALUES (?, ?, ?, ?)", df_reviews.values.tolist())
c.executemany("INSERT INTO bonuses VALUES (?, ?, ?)", df_bonuses.values.tolist())

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [ ]:
conn = sqlite3.connect('staff.db')
c = conn.cursor()

In [ ]:
# Querying data from tables
result = [row for row in c.execute(
    "select * from employees where hire_date < date('2003-04-04');")]
result

In [ ]:
# Joining results from multiple tables
result = [row for row in c.execute(
    '''select e.name, b.amount, b.date from employees e
       inner join bonuses b
       on e.employee_id=b.employee_id;''')]
result

**Q1. Construct an SQL query to show all the review ratings and dates of the employee named Annie**

In [ ]:
result = [row for row in c.execute(
    '''select <INSERT CODE>
       where <INSERT CODE>;''')]
result

**Q2. Design the relations (tables and columns) to hold the following data for patients:**
- Name
- Gender
- Postal code
- DOB
- Patient ID
- Visit datetime
- Visit final bill
- Blood Sugar 
- Creatinine
- BNP
- Sodium
- Potassium

Hint: Add more columns/variables you think are appropriate.

In [ ]:
# Answer 1

# result = [row for row in c.execute(
#     '''select rating, review_date from reviews
#        where employee_id=(select employee_id from employees where name='Annie');''')]
# result

In [ ]:
# Answer 2
patients = ['name', 'gender', 'postal code', 'dob', 'patient_id']
visits = ['visit_datetime', 'final_bill', 'patient_id']
labs = ['measurement_datetime', 'lab_item_id', 'lab_value']

lab_dict = ['lab_item_id', 'lab_item_name']

## Indexing

**Q. Write a function to return the index of an item in an unsorted list if present, else -1. How does it scale relative to the size of the list?**

In [ ]:
x = list(range(100))
random.shuffle(x)

In [ ]:
def linear_search(x, item):
    """
    Function to return the index of `item` in the array `x` if present, else None.
    """
    # Write code here
    pass

In [ ]:
# test
linear_search(x, 20)

**Q. Write a function to return the index of an item in a sorted list if present, else -1. How does it scale relative to the size of the list?**

In [ ]:
y = list(range(100))

In [ ]:
def binary_search(x, item, l, r):
    # Write code here
    pass

In [ ]:
# Test
binary_search(y, 31, 0, len(y)-1)

In [ ]:
# Answer
def linear_search(x, item):
    for i in range(len(x)):
        if x[i] == item:
            return i

In [ ]:
# Answer
def binary_search(x, item, l, r):
    # Base cases
    if item < x[l] or item > x[r]:
        return -1
    # Restricted to one index. Do or die.
    if l == r:
        if x[l] == item:
            return l
        else:
            return -1

    m = int((l + r) / 2)

    if x[m] == item:
        return m
    elif x[m] > item:
        return binary_search(x, item, l, m-1)
    else:
        return binary_search(x, item, m+1, r)

In [ ]:
binary_search(y, 46, 0, len(y) - 1)